[Unit]
Description=Dagster Webserver
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/jaffle-shop-analytics
Environment="PATH=/home/ubuntu/.local/bin:/usr/local/bin:/usr/bin:/bin"
Environment="DAGSTER_HOME=/home/ubuntu/dagster_home"
ExecStart=/home/ubuntu/.local/bin/dagster-webserver -h 0.0.0.0 -p 3000
Restart=always
RestartSec=10s
StandardOutput=journal
StandardError=journal
SyslogIdentifier=dagster-webserver

[Install]
WantedBy=multi-user.target
